.mainbody{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    background-image: url('work.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    position: relative;


}

.main{
    display: flex;
    flex-flow: column;
    width: 300px;
    padding: 40px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 40%;
}
.submit{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 3px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 20px;
}

.inputsec{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
input{
    height: 30px;
}