body {
    margin: 0;
    background-color: rgb(168, 168, 197);
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    justify-content: center;
}

.Kinetic {
    position: relative;
    height: 80px;
    width: 80px;

}

.Kinetic::after,
.Kinetic::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #Fff;
    animation: rotateA 1s linear infinite 0.5s;
}

.Kinetic::before {
    transform: rotate(90deg);
    animation: rotateB 1s linear infinite ;
}

@keyframes rotateA
{
    0%,
    25% {
        transform: rotate(90deg);
    }

    50%,
    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}                


@keyframes rotateB
{
    0%,
    25% {
        transform: rotate(90deg);
    }

    50%,
    75% {
        transform: rotate(deg);
    }

    100% {
        transform: rotate(450deg);
    }

}  