body{
    margin: 0;
    background-color: rgb(214, 231, 247);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main{
    display: flex;
    gap: 20px;
    overflow: hidden;

}

.box{
    width: 200px;
    border: 3px solid black;
    height: 200px;
    background-color: white;
}


.active{
    background-image: url('Nature-Background-Graphics-66003049-1.jpg');
    background-position: center;
    background-size: cover;
    width: 200px;
   height: 200px;
}



.hold
{
    border: 3px solid orange;
}



.hover{
    background-color: #525050;
    border-color: white;
    border-style: dashed;

}

@media screen and (max-width :800px) {
    /* .main{
        flex-flow: column;
    } */
    
}