.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column;
    gap: 30px;
}

.submain {
    display: flex;
    /* gap: 20px; */
    width: 350px;
    justify-content: space-between;
    position: relative;
}

.count {
    border: 3px solid rgb(233, 221, 221);
    padding: 10px 11px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    text-align: center;
    z-index: 2;


}

.count.active {
    border: 3px solid rgb(16, 133, 187);
}

.buttonsec {
    display: flex;
    /* gap: 50px; */
    width: 350px;
    justify-content: center;
    gap: 100px;
}

.buttonsec button {
    background-color: rgb(31, 137, 199);
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 3px;
    padding: 10px 25px;
}


.progress {  
    left: 0;
    height: 4px;
    width: 350px;
    background-color: rgb(30, 146, 199);
    position: absolute;
    top: 50%;
    width: 0%;
}

.submain::before {
    background-color: rgb(247, 243, 243);
    content: '';
    position: absolute;
    max-width: 350px;
    width: 100%;
    top: 50%;
    height: 4px;

}