body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sec {
    display: flex;
    flex-flow: row;
    padding: 10px;
    align-items: center;

}

.main{
    width: 60px;
    height: 30px;
    background-color: rgb(213, 218, 213);
    margin-right: 10px;
    border-radius: 20px;
    position: relative;
}

.sub{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 4px;
   


}


.main.active .sub{
    transform: translateX(25px);
    transition: transform .5s ease;
}
.main.active{
    background-color: rgb(120, 73, 163);
}